body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    text-align: center;
    height: 400px;
    width: 300px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: gray;
}

#display {
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.5em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    background-color: #3498db; /* Change to your preferred color */
    color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

button:hover {
    background-color: #2980b9; /* Change to a darker shade for hover effect */
}
.value{
    width: 100%;
    margin-top: 15px;
}